
/* Smart Phones And Tablets */
@media (max-width: 767px)
{
    .navbar-form .form-control {
        width: 160px;
    }
    .home .textLabel {
        margin-top: 20px;
    }
    .oneFeature, .twoFeature, .threeFeature, .fourFeature {
        background-position-x: 50%;
    }
    .copyrights ul {
        padding: 0px;
        margin-bottom: 15px;
        overflow: hidden;
    }
    .copyrights li {
        display: block;
        float: none;
        text-align: center;
    }
    .footer-style-2 {
        text-align: center;
    }
    .copyrights li a::after {
        content: '';
        position: absolute;
        width: 0px;
        height: 16px;
        background: #888;
        display: block;
        top: 50%;
        margin-top: -17px;
    }
    .userProfile .otherPersonalInfo .userData {
        line-height: 30px;
    }
    .userProfile .otherPersonalInfo p {
        margin-bottom: 15px;
    }
    .userProfile .otherPersonalInfo .userPage {
        margin-right: 5px;
    }
    .userProfile .oneAdOnProfile .addLocationTime .ulUserData li {
        margin-bottom: 15px;
    }
    .userProfile .oneAdOnProfile {
        margin-bottom: 50px;
    }
    .socialMediaBtn {
        padding: 20px 0px 5px 0px;
    }
    .userProfile .oneAdOnProfile .desAd {
        padding-top: 0px;
    }
    .userProfile h2 .userName, .userProfile h2 .mobile, .userProfile h2 .mobileContactTimes {
        font-size: 16px;
        margin-right: 10px;
    }
    .userProfile .detailes .userData {
        font-size: 16px;
    }
    .userProfile h2 i {
        font-size: 16px;
        margin-right: 7px;
    }
    .userProfile h1.name {
        margin-bottom: 5px;
        margin-top: 15px;
    }
    .userProfile h2 {
        margin: 5px 0px;
    }
    .userProfile .detailes {
        background: rgba(255,255,255,0.3);
        border: 1px solid #bbb;
        padding: 5px 30px 15px 30px;
        margin: 30px 0px 5px 0px;
        overflow: hidden;
    }
    .userProfile .otherPersonalInfo i,
    .userProfile .otherPersonalInfo .userPage,
    .userProfile .otherPersonalInfo .userData {
        font-size: 16px;
    }
    .userProfile .otherPersonalInfo .title {
        font-size: 22px;
    }
    .home {
        padding-bottom: 10px;
    }
    .home .logo {
        margin-bottom: 40px;
    }
    .home .titleSearch {
        font-size: 22px;
        margin-bottom: 0px;
        line-height: 30px;
    }
    
    
}

/* Smart Screen */

@media (min-width: 768px) and (max-width: 1024px)
{
    
}

/* Medium Screen */

@media (min-width: 1025px) and (max-width: 1199px)
{
    
}

/* Large Screen */

@media (min-width: 1200px)
{
    
}

