/** Esam Ahmed Eisa - 01098950608 **/
@font-face {
  font-family: "JF-Flat-regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/JF-Flat-regular.ttf");
}
@font-face {
  font-family: "DroidNaskh-Bold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DroidNaskh-Bold.ttf");
}
@font-face {
  font-family: "DroidNaskh-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DroidNaskh-Regular.ttf");
}
@font-face {
  font-family: "DroidKufi-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DroidKufi-Regular.ttf");
}
@font-face {
  font-family: "segoeui";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/segoeui.ttf");
}
@font-face {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/Montserrat-Regular.otf");
}
body {
  background-color: #f4f4f4;
  background: url('../images/22222.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "OpenSans-Regular";
  color: #212121;
  font-size: 14px;
}

a {text-decoration: none;outline: none;}
a:active{outline:none;}
a:hover, a:focus {text-decoration: none;}
li {list-style: none outside none;}
.bg1 {background-color: #1976D2}
.bg2 {background-color: #2196F3}
.bg3 {background-color: #BBDEFB}
.color1 {color: #1976D2}
.color2 {color: #2196F3}
.color3 {color: #BBDEFB}








.bg-static {
  background: #eee;
  padding: 15px;
}
.margin-15 {
  margin-top: 15px;
}
.panel-form {
  background-color: #EDEFF4;
  border-color: #ebebeb;
}
.panel-heading {
    padding: 10px 15px;
    background-color: #EDEFF4;
    border-bottom: 1px solid #d6dbe7;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}








/** start - shm **/
#shm {
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #1976D2;
  cursor: pointer;
  display: none;
  border-radius: 50%;
  z-index: 100;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
#shm:hover {
  background-color: #212121;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
#shm .fa-arrow-up {
  font-size: 24px;
  padding-top: 7px;
}
/** End - shm **/

